body {
  text-align: center;
  /*    background-color: #011F3F;*/
  background-color: #D1E7FF;
}

#page-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    margin: 3.5% 1rem 0;
}

#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin: 3% 1rem 2%;
    color: #006FFF;
}

/* -------------------- BUTTONS COLOR */

.red {
    background-color: red;
    border-color: #FF3939;
}

.green {
    background-color: green;
    border-color: #02C902;
}

.blue {
    background-color: blue;
    border-color: #373EFF;
}

.yellow {
    background-color: yellow;
    border-color: #D6D634;
}

/* -------------------- TITLE ANIMATION */

.linear-wipe {
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, color-stop(14%, violet), color-stop(28%, indigo), color-stop(42%, blue), color-stop(56%, green), color-stop(70%, yellow), color-stop(84%, orange), to(red));
    background: linear-gradient(to right, violet 14%, indigo 28%, blue 42%, green 56%, yellow 70%, orange 84%, red 100%);
    background-size: 200% auto;
    color: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 3s linear infinite;
    animation: shine 3s linear infinite;
}

@-webkit-keyframes shine {
    to {
        background-position: 200% center;
    }
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

#btnStart {
    background: linear-gradient(to bottom, #0050A5, #02346A 75%);
    min-width: 200px;
    min-height: 70px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    border: none;
    margin: 1% auto 1.5%;
    cursor: pointer;
}

#btnStart:before {
    background: linear-gradient(to top, #0050A5, #02346A 75%);
    min-width: 186px;
    min-height: 56px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    content: '';
    border: none;
}

.started .play-image-wrapper {
    display: none;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.play-image-wrapper {
    width: 25px;
    max-width: 25px;
    max-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.play-image-wrapper img {
    width: 100%;
}

.btn-start-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    background: -webkit-linear-gradient(#99BCE2, #EEF6FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

