body {
  text-align: center;
  /*    background-color: #011F3F;*/
  background-color: #D1E7FF;
}

body.dark-mode {
    background-color: #011F3F;
}

#page-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    margin: 3.5% 1rem 0;
}

#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin: 3% 1rem 2%;
    color: #006FFF;
}

.dark-mode #level-title {
    color: #DFFFA8;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
}

body.game-over {
    background-color: red;
    opacity: 0.8;
}

/* -------------------- BUTTONS COLOR */

.red {
    background-color: red;
    border-color: #FF3939;
}

.green {
    background-color: green;
    border-color: #02C902;
}

.blue {
    background-color: blue;
    border-color: #373EFF;
}

.yellow {
    background-color: yellow;
    border-color: #D6D634;
}

/* -------------------- TITLE ANIMATION */

.linear-wipe {
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, color-stop(14%, violet), color-stop(28%, indigo), color-stop(42%, blue), color-stop(56%, green), color-stop(70%, yellow), color-stop(84%, orange), to(red));
    background: linear-gradient(to right, violet 14%, indigo 28%, blue 42%, green 56%, yellow 70%, orange 84%, red 100%);
    background-size: 200% auto;
    color: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 3s linear infinite;
    animation: shine 3s linear infinite;
}

@-webkit-keyframes shine {
    to {
        background-position: 200% center;
    }
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

#btnStart {
    background: linear-gradient(to bottom, #0050A5, #02346A 75%);
    min-width: 200px;
    min-height: 70px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    border: none;
    margin: 1% auto 1.5%;
    cursor: pointer;
}

#btnStart:before {
    background: linear-gradient(to top, #0050A5, #02346A 75%);
    min-width: 186px;
    min-height: 56px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    content: '';
    border: none;
}

.started .play-image-wrapper {
    display: none;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.play-image-wrapper {
    width: 25px;
    max-width: 25px;
    max-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.play-image-wrapper img {
    width: 100%;
}

.btn-start-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    background: -webkit-linear-gradient(#99BCE2, #EEF6FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.copyright {
    font-size: 20px;
    font-family: Roboto;
    color: #88ABD0;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    bottom: 1rem;
    margin: 0;
}

.float-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.btn-round {
    /*    background: linear-gradient(to bottom, #0050A5, #02346A 75%);*/
    background-color: #5483B6;
    min-width: 70px;
    max-width: 70px;
    height: 70px;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    cursor: pointer;
    box-sizing: border-box;
    padding: 15px;
}

.btn-round img {
    width: 100%;
}

.btn-round:not(:last-child) {
    margin-bottom: 1.7rem;
}

.btn-round:before {
    background: linear-gradient(to top, #21558E, #2260A4 75%);
    min-width: 62px;
    max-width: 62px;
    height: 63px;
    border-radius: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    content: '';
    border: none;
}

.btn-sound {
    cursor: default;
}

.btn-info:hover .info-box {
    display: unset;
}

.info-box {
    background-color: #FFF;
    position: absolute;
    min-width: 350px;
    top: calc(100% + 17px);
    right: 0;
    border-radius: 20px;
    max-height: 180px;
    padding: 1rem;
    text-align: left;
    box-sizing: border-box;
    display: none;
}

.info-box:before {
    content: '';
    position: absolute;
    top: -9px;
    right: 20px;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background-color: #fff;
    transform: rotate(45deg);
}

.info-box h4 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
    letter-spacing: .5px;
    color: #013A77;
}

.info-box p {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    text-transform: uppercase;
    color: #013A77;
    line-height: 1.7;
    letter-spacing: .5px;
    overflow-x: auto;
    max-height: 115px;
}

.info-box p::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

.info-box p::-webkit-scrollbar-track {
    background: #f6f6f6;
}

.info-box p::-webkit-scrollbar-thumb {
    background: #d1d1d1;
    border-radius: 10px;
}

.info-box p::-webkit-scrollbar-thumb:hover {
    background: #828282;
}

body.dark-mode .info-box,
body.dark-mode .info-box:before {
    background-color: #013672;
}

body.dark-mode .info-box h4,
body.dark-mode .info-box p {
    color: #FFF;
}

body.dark-mode .info-box p::-webkit-scrollbar-track {
    background: transparent;
}

body.dark-mode .info-box p::-webkit-scrollbar-thumb {
    background: #0562C5;
}

body.dark-mode .info-box p::-webkit-scrollbar-thumb:hover {
    background: #011F3F;
}